<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recoverbysporting.dao.DiseaseDao">
    <select id="findById" resultType="Disease">SELECT * FORM disease WHERE pid=#{pid} AND did=#{did}</select>
    <select id="findForAdmin" resultType="Disease">SELECT * FROM disease
    <trim prefix="where" prefixOverrides="and|or">
        <if test="pid!=null and pid!=''" >
            and pid=#{pid}
        </if>
    </trim>
    </select>
    <select id="findForDoctor" resultType="Disease">SELECT * FROM disease
        <trim prefix="where" prefixOverrides="and|or">
            <if test="pid!=null and pid!=''" >
                and pid=#{pid}
            </if>
            <if test="did!=null and did!=''" >
                and did=#{did}
            </if>
        </trim>
    </select>
</mapper>