<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recoverbysporting.dao.OrganizationDao">
    <select id="findByOid" resultType="Organization">SELECT * FROM organization WHERE id=#{oid}</select>
    <select id="getList" resultType="Organization">SELECT id,name FROM organization </select>
</mapper>