<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recoverbysporting.dao.OrganizationDao">
    <select id="findByOid" resultType="Organization">SELECT * FROM organization WHERE id=#{oid}</select>
    <select id="getList" resultType="Organization">SELECT id,name FROM organization </select>
    <select id="findAll" resultType="Organization">SELECT * FROM organization</select>
    <insert id="insert">INSERT INTO organization(name,leader,telephone,date)
                        VALUES (#{o.name},#{o.leader},#{o.telephone},#{o.date})</insert>
    <update id="update">UPDATE organization SET name=#{o.name},leader=#{o.leader},
                                                telephone=#{o.telephone},date=#{o.date}
                                                WHERE id=#{o.id}</update>
    <delete id="delete">DELETE FROM organization WHERE id=#{id}</delete>
</mapper>